@font-face {
  font-family: 'SF Pro Display';
  font-weight: 200;
  src: local('SF Pro Display'),
    url('./assets/fonts/sf-pro-display-thin.woff2') format('woff2'),
    url('./assets/fonts/sf-pro-display-thin.woff') format('woff');
}
@font-face {
  font-family: 'SF Pro Display';
  font-weight: 300;
  src: local('SF Pro Display'),
    url('./assets/fonts/sf-pro-display-light.woff2') format('woff2'),
    url('./assets/fonts/sf-pro-display-light.woff') format('woff');
}
@font-face {
  font-family: 'SF Pro Display';
  font-weight: 400;
  src: local('SF Pro Display'),
    url('./assets/fonts/sf-pro-display-regular.woff2') format('woff2'),
    url('./assets/fonts/sf-pro-display-regular.woff') format('woff');
}
@font-face {
  font-family: 'SF Pro Display';
  font-weight: 500;
  src: local('SF Pro Display'),
    url('./assets/fonts/sf-pro-display-medium.woff2') format('woff2'),
    url('./assets/fonts/sf-pro-display-medium.woff') format('woff');
}
@font-face {
  font-family: 'SF Pro Display';
  font-weight: 600;
  src: local('SF Pro Display'),
    url('./assets/fonts/sf-pro-display-semibold.woff2') format('woff2'),
    url('./assets/fonts/sf-pro-display-semibold.woff') format('woff');
}
@font-face {
  font-family: 'SF Pro Display';
  font-weight: 700;
  src: local('SF Pro Display'),
    url('./assets/fonts/sf-pro-display-bold.woff2') format('woff2'),
    url('./assets/fonts/sf-pro-display-bold.woff') format('woff');
}
@font-face {
  font-family: 'SF UI Text';
  font-weight: 400;
  src: local('SF UI Text'),
    url('./assets/fonts/sf-ui-text-regular.woff2') format('woff2'),
    url('./assets/fonts/sf-ui-text-regular.woff') format('woff');
}
@font-face {
  font-family: 'SF UI Text';
  font-weight: 600;
  src: local('SF UI Text'),
    url('./assets/fonts/sf-ui-text-bold.woff2') format('woff2'),
    url('./assets/fonts/sf-ui-text-bold.woff') format('woff');
}

body {
  font-family: 'SF Pro Display';
  font-weight: 400;
  margin: 0;
}

h1,
h2,
p {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
